<script src="mraid.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli:300">
<link href="https://img.serveroute.com/<%= ad_name %>/css/mraid_wrapper.css" rel="stylesheet" />
<script type="text/javascript">
  var ad_name = "<%= ad_name %>";
  var ad_title = "<%= ad_title %>";
  var ad_click_dest = "<%= ad_app_store_url %>";
  var ad_orientation = "portrait";
  var ad_webroot = "https://img.serveroute.com";
  var ad_logroot = "https://www.serveroute.com";
  var ad_splash_image = ad_webroot + "/<%= ad_name %>/img/<%= ad_icon_file %>";
  var ad_has_custom_load_screen = false;
  var ad_close_duration = 5000;
  var ad_exchange = "mopub";
  var ad_dynamic_parameters = "";
</script>
<script type='text/javascript' src='https://img.serveroute.com/<%= ad_name %>/js/code.js'></script>
